# Generate a new secret with: python -c "import secrets; print(secrets.token_hex(32))"
CARELOG_SECRET=
CARELOG_HOST_PORT=8501
CARELOG_START_SCHEDULER=1
CARELOG_CSRF_ENABLED=1
WAITRESS_THREADS=4
SEED_DEMO=0
TZ=Asia/Taipei
